.generalEntreprise{
    display: flex;
    justify-content: center;
}

.loginEntreprise{
margin-top:5px;
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
}

h2{
    margin:20px;
}

.registerEntreprise{
    margin:5px;
    padding: 5px;
    border : solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.example-full-width{
margin:2px
}

.lien_register{
    margin-top:30px
}