.registerSalarie{
    margin:5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.example-full-width{
margin:2px
}

form{
    display: flex;
    flex-direction: column;
}