<h2>Editer</h2>

<form [formGroup]="updatedProfilForm" (ngSubmit)="onEdit(data)">

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">Nom</mat-label>
            <input matInput type="text" class="form-control" formControlName="nom_salarie">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">Nom de jeune fille</mat-label>
            <input matInput type="text" class="form-control" formControlName="nom_jeune_fille">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">Prénom</mat-label>
            <input matInput type="text" class="form-control" formControlName="prenom_salarie">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Date de naissance</mat-label>
            <input type="date" matInput class="form-control" formControlName="date_naissance">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Lieu de naissance</mat-label>
            <input type="text" matInput class="form-control" formControlName="lieu_naissance">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">Num SS</mat-label>
            <input matInput type="text" class="form-control" formControlName="num_ss">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">Rue</mat-label>
            <input matInput type="text" class="form-control" formControlName="rue_salarie">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">Code Postal</mat-label>
            <input matInput type="text" class="form-control" formControlName="cp_salarie">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">Ville</mat-label>
            <input matInput type="text" class="form-control" formControlName="ville_salarie">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">Téléphone</mat-label>
            <input matInput type="email" class="form-control" formControlName="telephone_salarie">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label for="">E Mail</mat-label>
            <input matInput type="email" class="form-control" formControlName="email_salarie">
        </mat-form-field>
    </div>

    <div style="display:flex; align-items:center; justify-content:center">
        <div><button mat-raised-button type="submit" color="primary">Edit</button> </div>
        <div style="margin-left:10px"><button mat-raised-button color="primary" (click)="closeModal()">Close</button>
        </div>
    </div>

</form>