.contrat{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.signature{
    display: flex;
    justify-content: space-between;
}

.img_signature{
    width: 200px;
    height: 200px;
}
.img_logo{
    width: 500px;
    height: 300px;
}

.donnees_contrat{
    text-align: left;
}

.signature_salarie{
        width: 200px;
    height: 200px;
    border : solid 2px black;
}