.generalSalarie{
    display: flex;
    justify-content: center;
}

.loginSalarie{
margin:5px;
padding: 5px;
border : solid 2px black;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
}

.registerSalarie{
    margin:5px;
    padding: 5px;
    border : solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.example-full-width{
margin:2px
}