<!-- <div>
    <h2>Envoi du contrat</h2>
    <input type="file" name="document" ng2FileSelect [uploader]="uploader" accept="*" />

    <button type="button" (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">upload</button>




</div> -->
<h1>Gestion de mes Contrats</h1>

<!-- Search Bar -->
<div class="search_box">
 
      <input matInput type="search" placeholder="Recherchez un contrat..." class="search" [formControl]="searchBar" />

  </div>

<div *ngFor="let item of contratTab">
    <mat-card *ngIf="profilEntreprise.id_entreprise==item.fk_entreprise">
        <div *ngFor="let salarie of profilSalarie">
            <mat-card-title *ngIf="salarie.id_salarie==item.fk_salarie">{{salarie.nom_salarie}}
                {{salarie.prenom_salarie}} </mat-card-title>
        </div>
        <mat-card-subtitle> Fonction : {{item.fonction}}</mat-card-subtitle>
        <mat-card-subtitle> ID du contrat : {{item.id_contrat}}</mat-card-subtitle>
        <mat-card-actions>
            <button mat-button color="primary" (click)="detailsContrat(item)">Details </button>
            <button mat-button color="accent" (click)="deleteContrat(item.id_contrat)">Supprimer</button>
          
        </mat-card-actions>
    </mat-card>
</div>