
    <div class="registerEntreprise">
        <h2 style="text-align:center">Espace Entreprise</h2>
        <h2>Inscription</h2>
        <form [formGroup]="entrepriseRegisterForm" (ngSubmit)="onSubmitRegister()" class="formulaire">


            <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">Nom</mat-label>
                <input matInput type="text" class="form-control" formControlName="nom_entreprise">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">Prénom</mat-label>
                <input matInput type="text" class="form-control" formControlName="prenom_entreprise">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Siret</mat-label>
                <input type="number" matInput class="form-control" formControlName="siret">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Raison Sociale</mat-label>
                <input type="text" matInput class="form-control" formControlName="raison_sociale">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">Code APE</mat-label>
                <input matInput type="text" class="form-control" formControlName="code_ape">
            </mat-form-field>

        </div>

                <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Retraite nom et adresse</mat-label>
                <input type="text" matInput class="form-control" formControlName="retraite">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Prévoyance nom et adresse</mat-label>
                <input type="text" matInput class="form-control" formControlName="prevoyance">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="text">Complémentaire nom et adresse</mat-label>
                <input matInput type="text" class="form-control" formControlName="complementaire">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="text">Convention collective</mat-label>
                <input matInput type="text" class="form-control" formControlName="convention">
            </mat-form-field>

        </div>


        <div>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">Rue</mat-label>
                <input matInput type="text" class="form-control" formControlName="rue_entreprise">
            </mat-form-field>


            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">Code Postal</mat-label>
                <input matInput type="text" class="form-control" formControlName="cp_entreprise">
            </mat-form-field>


            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">Ville</mat-label>
                <input matInput type="text" class="form-control" formControlName="ville_entreprise">
            </mat-form-field>
        </div>

        <div>
            
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">Téléphone</mat-label>
                <input matInput type="email" class="form-control" formControlName="telephone_entreprise">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">E Mail</mat-label>
                <input matInput type="email" class="form-control" formControlName="email_entreprise">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">Mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" class="form-control" formControlName="mdp_entreprise">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="">Confirmer le Mot de passe</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" class="form-control" formControlName="confirmPassword">
                <mat-error *ngIf="errorPass">
                Vos mots de passe ne correspondent pas
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
            </mat-form-field>
        </div>

            <button mat-raised-button type="submit" color="primary" [disabled]="entrepriseRegisterForm.invalid" mat-button
                cdkFocusInitial>Créer mon compte</button>

        </form>
    </div>

